body {
	padding-top: 70px;
}
.header {
	text-align: center;
	p {
		color: @gray-light;
		padding-bottom: 30px;
		border-bottom: 1px dashed @gray-light;	
	}
}
.topBar {
	p {
		margin: 0;
	}
	.nav {
		p {
			text-align: right;	
		}
	}
	.info {
		.yourTurn {
			display: none;
			.countdown {
				color: @green;
			}
		}
		.inQueue {
			.countAhead {
				color: @red;
			}	
		}
	}
}
.story {
	color: @gray;
	font-family: @font-family-serif;
	.newText {
		display: none;
		input {
			color: @green;
			border: none;
			margin-left: 4px;
		}
	}
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    @green;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    @green;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    @green;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    @green;
}