body {
	padding-top: 70px;
}
.header {
	text-align: center;
	p {
		color: @gray-light;
		padding-bottom: 30px;
		border-bottom: 1px dashed @gray-light;	
	}
}
.topBar {
	p {
		margin: 0;
	}
	.nav {
		p {
			text-align: right;	
		}
	}
	.count {
		color: @red;
	}	
}
