extends includes/_layout

block content
    #wrap
        //- .navbar.navbar-default.navbar-fixed-top
        //-     .container
        //-         .navbar-header
        //-             button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        //-                 span.icon-bar
        //-                 span.icon-bar
        //-                 span.icon-bar
        //-         .collapse.navbar-collapse
        //-             ul.nav.navbar-nav.pull-right
        //-                 li
        //-                     a(href="/") About
        //-                 li
        //-                     a(href="/") Archives

        .container
            .row
                .col-md-12.header
                    h1 Ramblings
                    p An experiment in massively multiplayer online literature generation
            .row
                .col-md-6.col-md-offset-3.description
                    p Hi Internet traveler. Ramblings is a real-time literary game that enables users to collaboratively assemble a story, one word at a time.<br><br>This experiment was built with Node, a handful of sockets, some sake, and an attention-seeking cat*.
                    p To contribute, choose a pen name, then follow the queue as indicated in the top left.  A sound will alert you when you are up in case you doze off in anticipation.  You will have 25 seconds to enter a single word.  The CONTRIBUTE button will turn green when you have satisifed the requirements (no spaces and not nothing).  If you choose to end the word with a period, exclamation, or question mark, a NEW PARAGRAPH button (&para;) will appear.  Pressing it instead of CONTRIBTUE will both submit AND start the next user on a fresh paragraph.
                    p For questions and love: 
                        a(href='http://twitter.com/codenberg', target='_blank') @codenberg
                    p.smokey *So any bugs are because she stepped on the keyboard. I will pass them along.
            .row
                .col-md-12
                    p(style='text-align:center; margin-top: 40px;')
                        a(href='/') Back

