extends includes/_layout
block info
    include includes/_info
block content
    .container.mainGameContainer
        .row
            .col-md-10.col-md-offset-1.storyContainer
                p.newParagraph
                    button.newParaButton.btn.btn-primary &para;
        .row                        
            .col-md-12
                p.contribution
                    button.contribute.btn Contribute
    .jump
        p.live
            span.glyphicon.glyphicon-flash
            | Jump to Live
        p.start
            span.glyphicon.glyphicon-flash
            | Jump to Start
    script(src='#{cloudPath}libs/socket.js')
    script(src='#{cloudPath}libs/ramblings.js')