extends includes/_layout

block content
    #wrap
        //- .navbar.navbar-default.navbar-fixed-top
        //-     .container
        //-         .navbar-header
        //-             button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        //-                 span.icon-bar
        //-                 span.icon-bar
        //-                 span.icon-bar
        //-         .collapse.navbar-collapse
        //-             ul.nav.navbar-nav.pull-right
        //-                 li
        //-                     a(href="/") About
        //-                 li
        //-                     a(href="/") Archives

        .container
            .row.topBar
                .col-md-12.info
                    p.message.inQueue There are 
                        span.countAhead
                        |  people ahead of you
                    p.message.yourTurn You have 
                        span.countdown 
                        |  seconds remaining
                    p.message.onDeck You are up next!
                    p.message.booted You are a fly on the way

            .row
                .col-md-12.header
                    h1 Ramblings
                    p An experiment in massively multiplayer online literature generation
            .row
                .col-md-12
                    p.story
                        span.storyText
                        span.newText
                            input#word(placeholder='enter word here...', maxlength='23')
                    p.newParagraph
                        button.newParaButton.btn.btn-primary &para;
                .col-md-12
                    p.contribution
                        button.contribute.btn Contribute