extends includes/_layout

block content
    .container
        .row
            .col-md-8.col-md-offset-2.description
                p Welcome to the archives.  Here you can explore all stories created with Ramblings.
        .row
            .col-md-8.col-md-offset-2.storyList

        .row
            .col-md-12
                p(style='text-align:center; margin-top: 40px;')
                    a(href='/') Play
    script(src='#{cloudPath}libs/socket.js')
    script(src='#{cloudPath}libs/archives.js')                        
