extends includes/_layout

block content
    .container
        .row
            .col-md-8.col-md-offset-2.archivedStory.description(data-storyIndex='#{storyIndex}')

        .row
            .col-md-12
                p(style='text-align:center; margin-top: 40px;')
                    a(href='/archives') Back
    script(src='#{cloudPath}libs/socket.js')
    script(src='#{cloudPath}libs/archived-story.js')
